<mat-card>
    <mat-card-title>IOT Dashboard Application</mat-card-title>
    <mat-card-subtitle>Application Overview</mat-card-subtitle>

    <mat-card-content *ngIf="isConfiguration == false">
        <app-main-roku *ngIf="isRoku == true"></app-main-roku>
        <app-main-ring *ngIf="isRing == true"></app-main-ring>
        <app-main-lights *ngIf="isLights == true"></app-main-lights>
    </mat-card-content>

    <mat-card-content *ngIf="isConfiguration == true">
        <p>There are no current devices active on the server.
            Please go to the Configuration page to initialize components.
        </p>
    </mat-card-content>
</mat-card>