<app-component-dashboard></app-component-dashboard>

<mat-card>
    <form [formGroup]="configForm" (ngSubmit)="onSubmit()" #formGroupDirective>
        <mat-card-content>
            <table>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>Ring Username</mat-label>
                        <input type="text" matInput formControlName="ringUsername">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>Ring Password</mat-label>
                        <input type="text" matInput formControlName="ringPassword">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Ring User Agent</mat-label>
                        <input matInput formControlName="ringUserAgent">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>Ring Auth Code</mat-label>
                        <input matInput formControlName="ringAuthCode">

                    </mat-form-field>
                </tr>
            </table>

            <mat-form-field appearance="fill">
                <mat-label>Local Area Network</mat-label>
                <input type="text" matInput formControlName="lan">
            </mat-form-field>

            <div formArrayName="rokuDevices">
                <ng-container *ngFor="let rokuDevice of rokuDevices.controls; let index = index">
                    <div [formGroupName]="index">
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="rokuDeviceLocation" placeholder="Device Location">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="rokuDeviceIp" placeholder="Device IP">
                        </mat-form-field>
                        <button (click)="removeRokuDevice(index)">Remove</button>
                    </div>
                </ng-container>
            </div>
            <p>
                <button type="button" (click)="addRokuDevice('', '')">Add</button>
              </p>





            <!-- <table>
                <mat-form-field appearance="fill">
                    <mat-label>Start Date</mat-label>
                    <input #startDateEle matInput [matDatepicker]="startPicker" formControlName="startDate">
                    <mat-datepicker #startPicker></mat-datepicker>
                    <button type="button" mat-raised-button (click)="startPicker.open()">Start Date</button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>End Date</mat-label>
                    <input #endDateEle matInput [matDatepicker]="endPicker" formControlName="endDate">
                    <mat-datepicker #endPicker></mat-datepicker>
                    <button type="button" mat-raised-button (click)="endPicker.open()">End Date</button>
                </mat-form-field>
            </table> -->
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" [disabled]="!configForm.valid" mat-button>Submit</button>
        </mat-card-actions>
    </form>
</mat-card>