<mat-card class="overview-card">
    <mat-card-title>Roku Devices</mat-card-title>
    <mat-card-subtitle>Device Overview</mat-card-subtitle>

    <mat-card *ngFor="let device of rokuDevices" style="display: inline-block;">
        <mat-card-content class="device-card">
            <mat-card-title>Roku Device {{device.mapped_name}}</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>Device State: {{device.state}}</li>
                    <li>Current Channel: {{device.channel}}</li>
                    <li>IP Address: {{device.ip_address}}</li>
                </ul>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</mat-card>