<div>
    <div>
        <h1>Light Devices</h1>
        <h2>Device Overview</h2>
    </div>
    <mat-card *ngFor="let device of lightDevices" style="display: inline-block;">
        <mat-card-content>
            <mat-card class="device-card">
                <mat-card-title>Light Device {{device.device_name}}</mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>Device Color: {{device.color}}</li>
                        <li>Device Temperature: {{device.color_temperature}}</li>
                        <li>Device Brightness: {{device.brightness}}</li>
    
                        <li>Device State: {{device.state}}</li>
                    </ul>
    
                    <!-- Add in card actions to control? -->
                </mat-card-content>
            </mat-card>
    
        </mat-card-content>
    </mat-card>
</div>
