<mat-card>
    <mat-card-title>IOT Dashboard Application</mat-card-title>
    <mat-card-subtitle>Application Overview</mat-card-subtitle>
    <mat-card-content>
        <p>
            This applicaiton is for the NDSU course CSCI 846 (Distributed Systems). It demonstrates the ability of distributed applications through the integrating with IOT devices.
        </p>
            <ul>
                <label>IOT Devices utilized:</label>
                <li>Ring Doorbell</li>
                <li>Roku Television</li>
                <li>Sengled Smart Lightbulbs</li>
            </ul>

            <ul>
                <label>Future Implementations:</label>
                <li>FitBit</li>
                <li>Weather API</li>
            </ul>
        <p>
            With IOT devices as the initial scope for this project, the functionality of this application is to collect inputs from various devices that have self contained sensors, and manipulate the outputs of other devices.
            Within this application, the primary sensor / data source input is the Ring doorbell. As it has an embedded camera, and event triggering button, it is capable of being "aware" of when motion occurs or events are triggered.
            Based on these "sensor" inputs, other devices are manipulated. The working case for this application is based around the Roku television, and it's ability to be programatically manipulated.
            When the server application is invoked by the Ring doorbell, it decides how to manipulate the Roku and client application. If the Ring has a "motion" alert, then a message is pushed to the client, 
            but if a "ding" event is triggered, then the Roku television is paused if it is currently in a "play" state. The additional display of output manipulation was supposed to be through the control of smart lightbulbs, however, 
            the lightbulb brand chosen did not have a dedicated API for updating funcitons. However, the lightbulb devices on the network can still be queried for status data.
        </p>
    </mat-card-content>
  </mat-card>