<mat-card>
    <mat-card-title>IOT Dashboard Application</mat-card-title>
    <mat-card-subtitle>Application Overview</mat-card-subtitle>
    <mat-card-content>
        <p>
            This applicaiton is for the NDSU course CSCI 846 (Distributed Systems). It demonstrates the ability of distributed applications by integrating with IOT devices.
        </p>
            <ul>
                <label>IOT Devices</label>
                <li>Ring Doorbell</li>
                <li>Roku Television</li>
                <li>Fitbit Watch</li>
                <li>Smart Lights</li>
                <li>Weather App</li>
            </ul>
        <p>
            The purpose of this application is to manage tasks for a group of users. Tasks can be added to a backlog of total tasks, assigned, and completed. 
            Once a task has been completed, it assignes a monetary value to the user whom completed the task. There is also a feature for the user to view that monetary amount,
            and perform purchases (withdrawls) against that value, overall keeping a running tab of events.
        </p>
    </mat-card-content>
  </mat-card>