<div>
    <h1>Roku Devices</h1>
    <h2>Device Overview</h2>
</div>
<mat-card *ngFor="let device of rokuDevices">
    <mat-card-content>
        <mat-card>
            <mat-card-title>Roku Device {{device.mapped_name}}</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>Friendly Name: {{device.friendly_name}}</li>
                    <li>IP Address: {{device.ip_address}}</li>
                    <li>Device State: {{device.state}}</li>
                    <li>Mapped Name: {{device.mapped_name}}</li>
                    <li>ROKU Stick: {{device.is_stick}}</li>
                    <li>ROKU TV: {{device.is_tv}}</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <app-key-inputs-roku [ip_address]=device.ip_address></app-key-inputs-roku>
            </mat-card-actions>
        </mat-card>
    </mat-card-content>
</mat-card>