<mat-card class="overview-card">
    <mat-card-title>Roku Devices</mat-card-title>
    <mat-card-subtitle>Device Overview</mat-card-subtitle>

    <mat-card *ngFor="let device of rokuDevices">
        <mat-card-content>
            <mat-card-title>Roku Device {{device.friendly_name}}</mat-card-title>
            <mat-card-content class="device-card">
                <ul>
                    <li>Friendly Name: {{device.friendly_name}}</li>
                    <li>Current Channel: {{device.channel}}</li>
                    <li>Device State: {{device.state}}</li>

                    <li>Mapped Name: {{device.mapped_name}}</li>
                    <li>IP Address: {{device.ip_address}}</li>
                    <li>ROKU Stick: {{device.is_stick}}</li>
                    <li>ROKU TV: {{device.is_tv}}</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <app-key-inputs-roku [ip_address]=device.ip_address></app-key-inputs-roku>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</mat-card>