<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav-drawer" mode="side">
        <mat-nav-list>
            <a *ngFor="let menuItem of menuItems" [routerLink]="[menuItem.path]">
                <mat-list-item routerLinkActive="list-item-active"> 
                    <span>{{menuItem.title}}</span>
                    <mat-icon matListIcon>{{menuItem.icon}}</mat-icon>
                </mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            
            <span>Dashboard Viewer</span>
            <span class="toolbar-spacer"></span>
            <button mat-button (click)="refreshButton()">Dashboard Refresh</button> <mat-icon>refresh</mat-icon>
            <a routerLink="/navigation/configuration"><button mat-button>Configuration</button> <mat-icon>settings</mat-icon></a>

        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>