.toolbar-spacer {
    flex: 1 1 auto;
  }

  .sidenav-container {
    height: auto;
  }
  
  .sidenav-drawer {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sidenav-content {
    display: block;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  
  .list-item-active {
    font-weight: bold;
    color: lightblue;
  }